#helloid {
    color:darkgreen;
    background-color:#0fe7dc;
}

.table {
    font-size: 16px;
    margin: 10px 15vw;
    border-width: 3px;
    border-color: darkblue;
    border-style: solid;
    border-radius: 10px;
    opacity: 0.9;
    box-shadow: 5px 5px lightblue;
}